.contact-logo {
  display: inline-block;
}
.contact {
  display: flex;
  background-color: #edf0f1;
  color: #24252A;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
.contac-form {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact-form form {
  font-size: 25px;
  margin: 7%;
  display: flex;
  align-items: center;

}
.contact-image {
  width: 500px;
  object-fit: contain;
}
.form-div {
  flex: 1;
}

.form-item {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}
.text-box {
  width: 70%;
  height: 35px;
  margin-bottom: 8px;
  box-sizing: border-box;

}
.text-area {
  box-sizing: border-box;
  width: 70%;
  height: 105px;
  margin-bottom: 8px;
}
.submit-button {
  margin-left: 340  px;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border-style: none;
}
.submit-button:hover {
  background-color: rgb(55, 55, 60);
  color: #edf0f1;
}

@media (max-width: 500px) {
  .contact-form form{
    font-size: 20px;
  }
  .accept {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .contact-image {
    width: 120px;
  }
  .text-box {
    width: 90%;
  }
  .text-area {
    width: 90%;
  }
  .submit-button {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 85px;
  }

}
/*
  display: flex;
  flex-direction: column;
  width: 500px;

}
*/
