.contact-heading {
  display: flex;
  background-color: #edf0f1;
  color: #24252A;
  height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
.contact-heading a,
.contact-heading a:visited  {
  color: inherit;
  text-decoration: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  margin-top: 15vh;
}
.form-item {
  height: 5vh;
}
.form-textArea {
  height: 30vh;
}
.submit-button {
  margin: 5vh;
}

.form-item::placeholder,
.form-textArea::placeholder {
  font-size: 20px;
  font-family: "Anek Malayalam";
  font-weight: 500;
  padding: 5px;
}

.form-item,
.form-textArea {
  padding: 12px;
  width: 70%;
  font-family: "Anek Malayalam";
  font-weight: 500;
  margin: 3vh;
  font-size: 18px;
  background-color: #edf0f1;

}
.submit-button {
  width: 15vh;
  height: 7vh;
  font-family: "Anek Malayalam";
  font-size: 20px;
  color: #24252A;
  background-color: #edf0f1;
  cursor: pointer;
  border-radius: 8px;
  border-style: none;
}


.submit-button:hover {
  /*background-color: rgba(237, 240, 241, 0.8);
  */
  border-style: solid;
  border-color: #edf0f1;
  color: #edf0f1;
  background-color: #24252A;
  border-width: 3px; 

}
/*
.contac-form {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact-form form {
  font-size: 25px;
  margin: 7%;
  display: flex;
  align-items: center;

}
.contact-image {
  width: 500px;
  object-fit: contain;
}
.form-div {
  flex: 1;
}

.form-item {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}
.text-box {
  width: 70%;
  height: 35px;
  margin-bottom: 8px;
  box-sizing: border-box;

}
.text-area {
  box-sizing: border-box;
  width: 70%;
  height: 105px;
  margin-bottom: 8px;
}
.submit-button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border-style: none;
}
.submit-button:hover {
  background-color: rgb(55, 55, 60);
  color: #edf0f1;
}

@media (max-width: 500px) {
  .contact-form form{
    font-size: 20px;
  }
  .accept {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .contact-image {
    width: 120px;
  }
  .text-box {
    width: 90%;
  }
  .text-area {
    width: 90%;
  }
  .submit-button {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 85px;
  }

}

/*
  display: flex;
  flex-direction: column;
  width: 500px;

}
*/
